/*________________________________
_______PROYECTO CAOS NEWS_________
Autores: Francisca Aros,Nicolás Soto y Lucas Venditti
Sección: 008-D
__________________________________
_______DETALLES STANDARD__________
TIPOGRAFÍA:


COLORES:
Amarillo Logo: #FFFC00
Background: #f5f5f5

*/

*{
    font-family:Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

html{
  background-color: #f5f5f5;
}

section{
  background-color: #f5f5f5;
}

/*_________HOME_________*/
 /*NAV PÚBLICO*/
 .linknav{
  color: #FFFC00;
}

.linknav:hover{
  color: #ffffff;
} 

/*CARRUSEL*/
.cont-carousel{
  position: relative;
  text-align: center;
  color: #000000;
}

.txt-carousel{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
 }

 /*______DETALLE______*/
 /*IMG TITULAR*/
.img-container{
  position: relative;
  text-align: center;
  color: white;
  background-color: #f5f5f5;
}

.img-txt{
  position: absolute;
  top: 90%;
  left: 40%;
  transform: translate(-30%, -50%);
}

.ti-txt{
  font-size: 40px;
  font-weight: bold;

}
.subti-txt{
  font-size: 30px;
  font-weight: bold;
  
}


